 <header class="head">
   <h1>Rotten Mangoes</h1> 
 <h3>Hello <%= current_user.firstname %></h3>
<h3><%= link_to "Submit a movie!", new_movie_path, class: "submit-button" %></h3>

<div class="search-form">
      <%= form_tag("/movies/search", method: "post") do %>
        <%= label_tag(:title, "Search by, Title: ") %>
        <%= text_field_tag(:title) %>
        <%= label_tag(:director, "Director: ") %>
        <%= text_field_tag(:director) %>
        <%= label_tag(:duration, "Duration: ") %>
        <%= select_tag(:duration, options_for_select([['Not Included in Search',"None"],['Under 90 Minutes', "0-90"],['Between 90 - 120 Minutes',"90-120"],['Over 120 Minutes',"120-1000"]])) %>
      <%= submit_tag("Search") %>
    <%end%>
    </div>
  </header>
    